.aboutme_section {
    width: 100%;
    height: fit-content;

    .aboutme_section__left {
        margin-left: auto;
        
        margin: auto;

    }

    .aboutme_section__left_top {
        max-width:  371px;
        height: 128px;

        p {
            margin: auto;
        }
    }
  
    .aboutme_section__left_bottom {
        max-width: 371px;
        height: 128px;
        margin-top: 170px;
    }


    .aboutme_section__right {

       

    }
    .aboutme_section__left__button_contanier{
       
    }

}

.aboutme_section__flexbox {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}